/* index.html CSS*/
body
{
  background-image: url("images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#header
{
  color: black;
  font-size: 35pt;
  text-align: center;
}

#headerDesc
{
  text-align: center;
}

#stuffDesc
{
  text-align: center;
}

.divs {
  padding: 5px
}

#artwork {
  display: flex;
}

#photography {
  flex: 1;
}

#email {
  flex: 1;
}

#instagram {
  flex: 1;
}

.flexContainer {
  display: block;
  align-items: center;
  padding: 10px;
  text-align: center;
  margin: 20px;
}

.flexContainer p { /*FlexBox styling*/
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: auto;
  width: 100px;
  height: 55px;
  background-color: red;
  color: white;
  font-family: "Josefin Sans";
  font-size: 10pt;
}
/* art.html CSS /

/* photography.html CSS */
