/***** index.html CSS *****/
@font-face {
  font-family: "ETH";
  src: url("fonts/eth/ETH.ttf");
}

@font-face {
  font-family: "Josefin Sans";
  src: url("fonts/josefin-sans/JosefinSans-Regular");
}

body
{
  background-image: url("images/background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#header
{
  font-family: "ETH";
  color: black;
  font-size: 35pt;
  text-align: center;
}

#headerDesc {
  font-family: "Josefin Sans";
  text-align: center;
}

#artwork {
  flex: 1;
}

#photography {
  flex: 1;
}

#email {
  flex: 1;
}

#instagram {
  flex: 1;
}

#infoBox {
  display: flex;
}

.row {
  padding: 5px
}

.flexContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.flexContainer span{
  padding: 10px;
  margin: auto;
  width: 200px;
  height: 110px;
  align-items: center;
  text-align: center;
  font-family: "Josefin Sans";
  color: white;
  font-size: 20pt;
}

.aboutMe{
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  position: relative;
  overflow: hidden;
  align-items: center;
}

.aboutMe img { /* Portrait of me */
  float: left;
  vertical-align: middle;
  padding-right: 10px;
  width: 340px;
  height: 340px;
  border-radius: 20px;
}

.aboutMe span { /* Desc. box about me */
  display: block;
  text-align: left;
  font-family: "Josefin Sans";
  color: #E8DFDC;
}

#indexFooter {
  position: fixed;
  display: table;
  margin: 0 auto;
  bottom: 0px;
  text-align: center;
  color: white;
  font-family: "Josefin Sans";
  font-size: 8pt;
}
#bckSrc {
  color: #0BFFF9;
}

#Validators {
  position: fixed;
  right: 0;
  bottom: 0;
}

.Style {
  opacity: 0.5;
}


/***** art.html CSS *****/
#header {
  font-family: "ETH";
  color: black;
  font-size: 35pt;
  text-align: center;
}

.rowGallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.gallery {
  flex: 33.33%;
  padding: 50px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 180px;
}

.gallery:hover {
  border: 1px solid #777;
}

.gallery img {
  width: 100%;
  height: auto;
}

.description {
  font-family: "Josefin Sans";
  padding: 10px;
  text-align: center;
  color: white;
}



/***** photography.html CSS *****/
#header {
  font-family: "ETH";
  color: black;
  font-size: 35pt;
  text-align: center;
}

.rowGallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.gallery {
  flex: 33.33%;
  padding: 20px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 180px;
}

.gallery:hover {
  border: 1px solid #777;
}

.gallery img {
  width: 100%;
  height: auto;
}

.description {
  font-family: "Josefin Sans";
  padding: 10px;
  text-align: center;
  color: white;
}
